@{
    ViewData["Title"] = "New Stylist";
}

@model Stylist
@using HairSalon.Models;

<h3>New Stylist</h3>

<form asp-action="@ViewData["FormAction"]" asp-controller="Stylists" method="post">
    @Html.AntiForgeryToken()

    @* IF form is being used to edit, then attach the StylistId to model. *@
    @if (Model != null && Model.StylistId != 0)
    {
        @Html.HiddenFor(m => m.StylistId)
    }

    @* Name *@
    <div class="form-group">   
        <label asp-for="Name" class="control-label">Name: </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    @* Specialty *@
    <div class="form-group">
        <label asp-for="Specialty" class="control-label">Specialty: </label>
        <input asp-for="Specialty" class="form-control" />
        <span asp-validation-for="Specialty" class="text-danger"></span>
    </div>

    @* Wage *@
    <div class="form-group">
        <label asp-for="Wage" class="control-label">Wage: </label>
        <div class="wage-input">
            <input asp-for="Wage" class="form-control wage-input" value="@ViewData["WageValue"]" />
        </div>
        <span asp-validation-for="Wage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="@ViewData["SubmitButton"]" class="btn btn-primary" />
    </div>
</form>

@Html.ValidationSummary(true, "", new { @class="text-danger" })